body {
  font-family: "Gothic A1", sans-serif;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
}

/* Site Title */
#heading {
  text-align: center;
  margin: 0px;
  font-size: 50px;
}

.overlay {
  position: absolute;
  top: 10%;
  width: 100%;
  color: black;
  letter-spacing: 15px;
  text-align: center;
}

/* Register login + forms */
#loginOptions {
  margin: 5px 5px 0px 0px;
}

.registerBtns {
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  border: white 1px solid;
  color: rgb(104, 104, 104);
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
}

.registerBtns:hover,
.registerBtns:focus {
  font-weight: bolder;
  color: rgb(3, 26, 100);
  outline: none;
}

#signUpForm,
#signInForm {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
  margin: 10px 0px 10px 0px;
}

#signUpSubmit,
#signInSubmit {
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  border: white 1px solid;
  color: rgb(104, 104, 104);
  border-radius: 0px;
  padding: 0px;
}

#signUpSubmit:hover,
#signUpSubmit:focus,
#signInSubmit:hover,
#signInSubmit:focus {
  font-weight: bolder;
  color: rgb(104, 104, 104);
  font-size: 14px;
  text-transform: uppercase;
}

#signUpClose,
#signInClose {
  font-family: "Gothic A1", sans-serif;
  outline: none;
  color: rgb(104, 104, 104);
  text-align: right;
}

/* Carousel */
#carousel-image {
  height: 600px;
  object-fit: cover;
}

/* Search Input Forms */
#searchInputs {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 60%;
}

.searchInput-container {
  padding: 0px;
}

#inlineFormCustomSelect {
  align-content: right;
}

#currLocSearch {
  height: 50px;
  font-size: 14px;
  border-radius: 0px;
  border: #ced4da 1px solid;
  padding: auto;
  background: white;
  text-align: center;
  width: 100%;
}

#tempSearch {
  height: 50px;
  font-size: 14px;
  border-radius: 0px;
  border-top: #ced4da 1px solid;
  border-bottom: #ced4da 1px solid;
  padding: auto;
  background: white;
}

#searchBtn {
  font-size: 14px;
  height: 50px;
  background: rgb(104, 104, 104);
  border: rgb(104, 104, 104) 1px solid;
  color: white;
  border-radius: 0px;
  vertical-align: middle;
}

/* Search Results Container */
.results-container {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.resultImage {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

#resultsLocation {
  margin: 0px;
  text-align: center;
}

#resultsTemp {
  color: rgb(104, 104, 104);
  margin: 0px;
  text-align: center;
  font-size: 14px;
}

#resultsFlight {
  text-align: center;
  color: rgb(104, 104, 104);
  margin: 0px;
  font-size: 14px;
}

#favoriteDestinations {
  padding-left: 10px;
}
.favoritesContainer {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
}

.favoriteBTN {
  border: none;
  background: rgb(104, 104, 104);
  color: white;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0px;
}

.favoriteImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
