body {
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200px;
}

/* Site Title */
#heading {
  text-align: center;
}

#carouselImages {
  height: 200px;
  object-fit: cover;
}

/* Search Results */
#searchResults {
  border: solid blue 1px;
  padding: 0px;
}

#results-container {
  margin: 10px;
  padding: 0px;
}

#resultImage {
  display: block;
  height: 200px;
  object-fit: cover;
}

#resultsText {
  height: fit-content;
  letter-spacing: 5px;
  text-align: center;
}

#resultsLocation {
  margin: 0px;
}

#resultsTemp {
  color: rgb(104, 104, 104);
  margin: 0px;
}

#favoriteDestinations {
  border: solid green 1px;
}
