body {
  font-family: "Gothic A1", sans-serif;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

/* Site Title */
#heading {
  text-align: center;
  margin: 0px;
  font-size: 50px;
}

.overlay {
  position: absolute;
  top: 10%;
  width: 100%;
  color: black;
  letter-spacing: 15px;
  text-align: center;
}

/* Carousel */
#carousel-image {
  height: 600px;
  object-fit: cover;
}

/* Search Input Forms */
#searchInputs {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 60%;
}
label {
  display: inline-block;
  font-size: 14px;
}

.searchInput-container {
  padding: 0px;
}

#inlineFormCustomSelect {
  align-content: right;
}

#currLocSearch {
  padding: auto 20px auto 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 0px;
  width: 100%;
}

#tempSearch {
  height: 50px;
  font-size: 14px;
  border-radius: 0px;
  border-top: #ced4da 1px solid;
  border-bottom: #ced4da 1px solid;
  padding: 0px 10px 0px 10px;
  background: white;
}

#searchBtn {
  font-size: 14px;
  height: 50px;
  background: rgb(104, 104, 104);
  border: rgb(104, 104, 104) 1px solid;
  color: white;
  border-radius: 0px;
  vertical-align: middle;
}

#searchDropdown {
  height: 50px;
  border-radius: 0px;
  border: rgb(104, 104, 104) 1px solid;
}

/* Search Results Container */
#searchResults {
  border: solid blue 1px;
  padding: 0px;
}

.results-container {
  padding: 10px;
  display: inline-block;
}

#resultImage {
  display: block;
  height: 200px;
  object-fit: cover;
}

#resultsLocation {
  margin: 0px;
  text-align: center;
}

#resultsTemp {
  color: rgb(104, 104, 104);
  margin: 0px;
  text-align: center;
}

#resultsFlight {
  text-align: center;
  color: rgb(104, 104, 104);
  margin: 0px;
}

#favoriteDestinations {
  border: solid green 1px;
  display: inline-block;
}
