body {
  font-family: "Gothic A1", sans-serif;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100px;
}

/* Site Title */
#heading {
  text-align: center;
  margin: 0px;
  font-size: 50px;
}

.overlay {
  position: absolute;
  top: 10%;
  width: 100%;
  color: black;
  letter-spacing: 15px;
  text-align: center;
}

/* Carousel */
#carousel-image {
  height: 600px;
  object-fit: cover;
}

/* Search Input Forms */
#searchInputs {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  text-align: center;
  background: white;
}

#currLocSearch {
  margin: auto 20px auto 20px;
}

#searchBtn {
  margin: 0px;
}

/* Search Results Container */
#searchResults {
  border: solid blue 1px;
  padding: 0px;
}

.results-container {
  margin: 10px;
  padding: 0px;
  display: inline-block;
}

#resultImage {
  display: block;
  height: 200px;
  object-fit: cover;
}

#resultsText {
  height: fit-content;
  letter-spacing: 5px;
  text-align: center;
}

#resultsLocation {
  margin: 0px;
}

#resultsTemp {
  color: rgb(104, 104, 104);
  margin: 0px;
}

#favoriteDestinations {
  border: solid green 1px;
}
