.container {
  border: solid black 1px;
}

img {
  height: 200px;
  width: 30%;
  object-fit: cover;
  margin: 10px;
}

#searchResults {
  border: solid blue 3px;
}

#favoriteDestinations {
  border: solid blue 3px;
}

.carouselImage {
  width: 80%;
  margin: auto;
  text-align: center;
}

.favoriteImages {
  width: 90%;
  margin: auto;
}

.fullScreen {
  width: 90%;
  margin: auto;
}
